<div class="nav_menu">
    {{#link-to 'index' class="item"}}
      <i class="home icon size"></i> Home
    {{/link-to}}
    {{#link-to 'contact' class="item"}}
      <i class="address card icon size"></i> Contact
    {{/link-to}}
  <div class='item'>
      {{#ui-dropdown}}
    About <i class="dropdown icon size"></i>
    <div class="menu">
      {{#link-to 'about'}}
      <p class="item size">About </p>
      {{/link-to}}
      <div class="item">Facts</div>
      <div class="item">Customer reviews</div>
    </div>
{{/ui-dropdown}}
</div>

</div>
