<div class="ui attached stackable menu">
  <div class="ui container">
    <a class="item">
      <i class="home icon"></i> Home
    </a>
    <a class="item">
      <i class="grid layout icon"></i> Contact
    </a>
    <div class="ui simple dropdown item">
      About
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item"><i class="edit icon"></i> About Us</a>
        <a class="item"><i class="globe icon"></i> Customer feedback</a>
        <a class="item"><i class="settings icon"></i> Facts</a>
      </div>
    </div>
  </div>
</div>
