<p class="flex">
  Welcome to the Billings Green Cross website. We are a local and licensed
   provider of medical marijuana in Montana. Soon, we will also provide marijuana
    infused products such as edibles, tinctures, lotions, and honey. We are here
    to help you understand the process of obtaining medical marijuana in Montana,
     and to serve your needs after you have become a registered cardholder.
     Our philosophy is to offer you a discreet and caring service.
</p>
